[Unit]
Description=cprinter Service
After=syslog.target

[Service]
WorkingDirectory=/tmp
ExecStart=/appl/cprinter
#StandardOutput=journal
#StandardError=journal
